<div class="container">
  <h1 class="text-center mt-5 mb-4">Bem-vindo ao meu showcase de Testes Unitários</h1>

  <h3 class="text-center my-4">Instruções para Executar o Projeto</h3>

  <ol class="instructions-container">
    <li><strong>Clone o Repositório:</strong></li>
    <pre><code>git clone https://github.com/fs-ferreira/unit-test-showcases.git
cd unit-test-showcases</code></pre>

    <li><strong>Instale as Dependências:</strong></li>
    <pre><code>npm install</code></pre>

    <li><strong>Para executar os Testes:</strong></li>
    <pre><code>ng test</code></pre>

    <li><strong>Caso queira visualizar os Relatórios de Cobertura de Testes:</strong></li>
    <p>Após a execução dos testes, você pode visualizar os relatórios de cobertura para garantir que todos os casos de
      teste sejam cobertos.</p>
    <pre><code>ng test --code-coverage</code></pre>
    <p>Os relatórios estarão disponíveis em <code>unit-test-showcases/coverage/index.html</code>.</p>

    <li><strong>Explorando o Código de Teste:</strong></li>
    <p>Sinta-se à vontade para explorar os arquivos de teste em <code>unit-test-showcases/src/app</code>. Lá você
      encontrará todos os testes unitários separados por funcionalidade.</p>

    <li><strong>Contribua e Relate Problemas:</strong></li>
    <p>Qualquer forma de feedback e ideias para icrementar no projeto são bem vindas!</p>
  </ol>


  <p class="text-center mt-4">Acesse o source em <a href="https://github.com/fs-ferreira/unit-test-showcases"
      target="_blank">https://github.com/fs-ferreira/unit-test-showcases</a></p>

</div>